## General
.DS_Store
*.log
*.swp
*.pyc
*.class

## IDE & tooling
.idea/
.vs/
*.iml
*.ipr
*.iws
.atom/
.history
.buildlog/
.swiftpm/
.vscode/
.svn/
migrate_working_dir/

## Flutter / Dart
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
**/doc/api/
**/ios/Flutter/.last_build_id
**/ios/Flutter/flutter_export_environment.sh
/coverage/
build/
**/build/

## Firebase
firebase_app_id_file.json
firebase_options.dart

## Platform artifacts
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/app/build/
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
macos/Flutter/ephemeral/
linux/flutter/ephemeral/
windows/out/

## Symbolication & obfuscation
app.*.symbols
app.*.map.json
